[Desktop Entry]
Name=ThinkTerm
Comment=Workspace-first terminal emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=com.roversx.thinkterm
StartupWMClass=com.roversx.thinkterm
TryExec=wezterm
Exec=wezterm start --class com.roversx.thinkterm --cwd .
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
