# Note: if you are viewing this from the tap repo, this file is automatically
# updated from:
# https://github.com/RoversX/thinkterm/blob/main/ci/wezterm-homebrew-macos.rb.template
# by automation in the thinkterm repo.
# vim:ft=ruby:
cask "thinkterm" do
  version "@TAG@"
  sha256 "@SHA256@"

  url "https://github.com/RoversX/thinkterm/releases/download/#{version}/ThinkTerm-macos-#{version}.zip"
  name "ThinkTerm"
  desc "A workspace-first terminal"
  homepage "https://github.com/RoversX/thinkterm"

  conflicts_with cask: [
    "wezterm/wezterm/wezterm",
    "wezterm/wezterm/wezterm-nightly",
  ]

  # Unclear what the minimal OS version is
  # depends_on macos: ">= :sierra"

  app "ThinkTerm.app"
  [
    "thinkterm",
    "wezterm",
    "wezterm-gui",
    "wezterm-mux-server",
    "strip-ansi-escapes"
  ].each do |tool|
    binary "#{appdir}/ThinkTerm.app/Contents/MacOS/#{tool}"
  end

  preflight do
    # Move "ThinkTerm-macos-#{version}/ThinkTerm.app" out of the subfolder
    staged_subfolder = staged_path.glob(["ThinkTerm-*", "thinkterm-*"]).first
    if staged_subfolder
      FileUtils.mv(staged_subfolder/"ThinkTerm.app", staged_path)
      FileUtils.rm_rf(staged_subfolder)
    end
  end

  zap trash: [
    "~/Library/Saved Application State/com.roversx.thinkterm.savedState",
  ]

  def caveats; <<~EOS
    Cask #{token} related executables like 'thinkterm', 'wezterm',
    'wezterm-gui', and 'wezterm-mux-server' are linked into
      /usr/local/bin/    for x86 Mac,
      /opt/homebrew/bin/ for M1 Mac.

    Removal of them is ensured by 'brew uninstall --cask #{token}'.
  EOS
  end
end
